#header{
/*	min-height: 824px;*/
	padding-top: 60px;
	padding-bottom: 70px;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,44abef+0,378fd9+100 */
	background: #1e5799;
	/* Old browsers */
	background: -moz-linear-gradient(left, #1e5799 0%, #44abef 0%, #378fd9 80%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #1e5799 0%, #44abef 0%, #378fd9 80%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #1e5799 0%, #44abef 0%, #378fd9 80%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#378fd9', GradientType=1);
	/* IE6-9 */

}
#header h1 {
	font-size: 37px;
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	line-height: 49px;
}
.left{
	width:590px;
	padding-top: 130px;
	}
h1 .fz-59{
	font-size: 59px;
}
.txt{width:410px;}
.txt p{
	margin-top: 30px;
	font-family: 'Open Sans',	sans-serif;
	font-size: 16px;
	font-weight: 400;
	color:#fff;
	line-height: 27px;
}
a.btn{
		margin-top: 30px;
		text-decoration: none;
		display: inline-block;
}
.btn{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 900;
	color:#2e2a1b;
	background: #ffd429;
	padding: 20px 25px;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.btn:hover{
	background-color: #e8bb09;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
}
#header .wraper{
	display: flex;
	flex-wrap: nowrap;
	items:center;
}

/* container-list-items  */
.container-list-items {
	padding: 110px 0 120px;
}
/*.container-list-items .wraper{
	display:flex;
}*/
 .title-all-items{
	font-size: 30px;
	font-family: 'Ubuntu',sans-serif;
	font-weight: 700;
	text-align: center;
}
.container-list-items .title-all-items{
	margin-bottom: 75px;
}
.list-items {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	text-align: center;
}
.list-items h3{
	font-family: 'Ubuntu',sans-serif;
	font-weight: 700;
	font-size: 19px;
	padding: 20px 0;
}
.list-items .item{
	width: 290px;
}
.list-items .item .txt-item {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
}

.bg-gray{
	background-color:#ecf3f8;
	padding: 100px 0;
}
.container-form .title-all-items {
	margin-bottom: 55px;
}
.form {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}
.form  .inp{
	padding: 10px 25px;
	margin-bottom: 15px;
	outline: none;
	border:1px solid #bbbbbb;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	width:340px;
	font-family: 'Ubuntu',	sans-serif;
	font-weight: 400;
	font-size: 15px;
	box-sizing: border-box;
}
.form input.btn{
	width:340px;
	border:none;
}

#footer{
	padding: 60px 0;
	background-color:#164d7a;
}
.copyright{
	text-align: center;
	font-family: 'Open Sans',	sans-serif;
	font-size: 14px;
	font-weight: 400;
	color:#fff;
}